body {
    background-image: url("https://img.freepik.com/foto-gratis/marron-beige-crema-claro-lujo-abstracto-como-fondo-modelo-textura-seda-algodon_1258-71591.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color:  #ffcd48;
}

img {
    width: 400px;
    display: block;
    padding: 15px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: #F6CB59;
    padding: 50px;
    border: 5px solid black;
    margin: 20px;
}

ul {
    list-style: none;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}